src/main/mule/test-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1354bcc8-0765-4d94-9b85-4042759435cf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-sys-apiFlow" doc:id="76d2c669-da12-4584-ac9b-c1816b84e38f" >
		<http:listener doc:name="Listener" doc:id="30529ed5-790f-4492-8e61-739709a76fa6" config-ref="HTTP_Listener_config" path="/testSys"/>
		<ee:transform doc:name="Transform Message" doc:id="0dfac628-4348-42d3-9523-4acb93734237" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"System Connected Successfully!!"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="203110b1-d16f-4edf-8a1c-3390cde97e2f" message="#[payload]"/>
	</flow>
</mule>
